.greenBtn {
	position: relative;
	width: 245px;
	height: 55px;
	background: #9dd558;
	border-radius: 18px;
	border: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: background 0.1s ease-in-out;
	align-items: center;

	&:disabled {
		background: #bebebe;
	}

	&:hover {
		background: lighten(#9dd558, 5%);
	}

	&:active {
		background: darken(#9dd558, 5%);
	}

	&:hover {
		.rightArrow {
			transform: translateX(5px);
		}

		.leftArrow {
			transform: translate(-5px);
		}
	}

	.rightArrow {
		position: absolute;
		right: 30px;
		top: 20px;
		transition: transform 0.15s ease-in-out;
	}

	.leftArrow {
		position: absolute;
		left: 30px;
		top: 20px;
		transition: transform 0.15s ease-in-out;
	}
}
